{% extends "account.html" %}

{% block content %}
  <div class="row-flex">
      <form action="" method="post" class="dark" >
      {% csrf_token %}
        <div class="input-icon">
          <input type="password" name="password" id="password" placeholder="New Password" required>
          <i class="material-icon">lock_outline</i>
          {{form.password.errors}}
        </div>
        <div class="input-icon">
          <input type="password" name="password_confirm" id="password_confirm" placeholder="Confirm Password" required>
          <i class="material-icon">lock_outline</i>
          {{form.password_confirm.errors}}
        </div>
        <div class="col col-100 col-center">
            <button>Update Password</button>
        </div>
      </form>
  </div>
{% endblock %}
