{% extends "account.html" %}

{% block content %}
  <div class="row-flex">
      <form action="" method="post" class="dark" >
      {% csrf_token %}
        <div class="input-icon">
          <input type="text" name="username_or_email" id="username_or_email" placeholder="Username or Email" required>
          <i class="material-icon">person_outline</i>
        </div>
        <div class="col col-100 col-center">
            <button>Reset Password</button>
        </div>
      </form>
  </div>
  <div class="row-flex">
    <div class="col col-100 col-center">
        <a href="{% url 'login' %}" class="light">Back to Login</a>
    </div>
  </div>
{% endblock %}
