{% extends "email.html" %}
{% autoescape off %}
{% block content %}
  <div class="hidden">
    Password reset request for swiss at 7o
  </div>

  <p><b>Congratulations!</b></p>
  <p>
    You forgot your password! <br>
    It's OK, that can happen to everyone, it's not like you are using this for everyday work...
    There is no need to feel down and question what is the meaning of life
    <br>
    <a href="https://www.google.hr/search?q=pizza&source=lnms&tbm=isch&sa=X&ved=0ahUKEwiq7JiZru7RAhUG7hoKHf_SDhIQ_AUICCgB&biw=1855&bih=966">
      (BTW, it's pizza)
    </a>
  </p>
  <a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="button">
    Password reset
  </a>
{% endblock %}
{% endautoescape %}
